@page "/editemployee/{id:int?}"
@using BlazorApp1.Data
@using BlazorApp1.Models
@inject EmployeeService EmployeeService
@inject NavigationManager NavigationManager



<div class="container mt-5">
    <EditForm Model="employee" OnValidSubmit="UpdateEmployee">
        <DataAnnotationsValidator />
        <h1 class="colorBlue">
            EDIT EMPLOYEE
        </h1>
        <ul class="row forumBox">
            <li class="col-3 required">
                <label class="inputLabel">
                    Name
                </label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputText @bind-Value="employee.Name" class="form-control" maxlength="20" />
                </div>
                <div class="erroeText">
                    <ValidationMessage For="(()=>employee.Name)"></ValidationMessage>
                </div>
            </li>

            <li class="col-3 required">
                <label class="inputLabel">
                    Date of Birth
                </label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputText @bind-Value="employee.DOB" class="form-control" maxlength="100" />
                </div>
                <div class="erroeText">
                    <ValidationMessage For="(()=>employee.DOB)"></ValidationMessage>
                </div>
            </li>

            <li class="col-3">
                <label class="inputLabel">
                    Location
                </label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputText @bind-Value="employee.Location" class="form-control" maxlength="20" />
                </div>
                <div class="erroeText">
                    <ValidationMessage For="(()=>employee.Location)"></ValidationMessage>
                </div>
            </li>

            <li class="col-3 required">
                <label class="inputLabel">
                    Designation
                </label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputText @bind-Value="employee.Designation" class="form-control" maxlength="100" />
                </div>
                <div class="erroeText">
                    <ValidationMessage For="(()=>employee.Designation)"></ValidationMessage>
                </div>
            </li>


            <li class="col-3">
                <label class="inputLabel">
                    Email Address
                </label>
            </li>

            <li class="col-3">
                <div class="form_inputBox">
                    <InputText @bind-Value="employee.Email_Address" class="form-control" maxlength="100" />
                </div>
                <div class="erroeText">
                    <ValidationMessage For="(()=>employee.Email_Address)"></ValidationMessage>
                </div>
            </li>

            <li class="col-3">
                <label class="inputLabel">
                    Gender
                </label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <select class="form-control" id="gender" @bind="employee.Gender">
                        <option value="" disabled selected>-- Select --</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </li>

            <li class="col-3">
                <label class="inputLabel">
                    Skills
                </label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <div class="form-check form-check-inline">
                        @foreach (var skill in presentSkills)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="@($"sk{skill.Id}")"
                                       checked="@SkillId.Contains(skill.Id)"
                                       @onchange="@(e => BoxSkills(skill.Id))" />
                                <label class="form-check-label" for="@($"sk{skill.Id}")">@skill.Skills</label>
                            </div>
                        }
                    </div>
                </div>
            </li>

            <li class="col-12">
                <div class="form_btns">
                    <button type="submit" class="common_btn btnBlue">Save</button>
                    <button class="common_btn btnWhite" @onclick="OnCancel">Cancel</button>
                </div>
            </li>
        </ul>
    </EditForm>
</div>





@* 
<div class="container mt-5">
    <h4>EDIT EMPLOYEE</h4>
    <form @onsubmit="UpdateEmployee">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" @bind="employee.Name" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dob">DOB</label>
                    <input type="text" class="form-control" id="dob" placeholder="DOB" @bind="employee.DOB" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location" placeholder="Location" @bind="employee.Location" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="designation">Designation</label>
                    <input type="text" class="form-control" id="designation" placeholder="Designation" @bind="employee.Designation" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" placeholder="Email Address" @bind="employee.Email_Address" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select class="form-control" id="gender" @bind="employee.Gender" required>
                        <option value="" disabled selected>-- Select --</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <label>Skills</label>
                <div class="form-check form-check-inline">
                    @foreach (var skill in presentSkills)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="@($"sk{skill.Id}")"
                                   checked="@SkillId.Contains(skill.Id)"
                                   @onchange="@(e => BoxSkills(skill.Id))" />
                            <label class="form-check-label" for="@($"sk{skill.Id}")">@skill.Skills</label>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-success">Update</button>
                <button type="submit" class="btn btn-info" @onclick="backtolist">Back</button>
            </div>
        </div>
    </form>
</div>

 *@