@page "/employeedb"
@using BlazorApp1.Data
@using BlazorApp1.Models
@inject EmployeeService emp
@inject NavigationManager NavigationManager

<PageTitle>Employee Data</PageTitle>
<pre>   </pre>
<div class="text-center">
    <h5>EMPLOYEE DATA</h5>
</div>
<br />
<div>
    <button class="btn btn-outline-primary" @onclick="() => NavigateToAddEmployee()">+ Add New Employee</button>
</div>
<pre>   </pre>
<div class="table_detailsemply">
    <table class="employee_table loan_table" width="100%">
        <thead class="thead-dark">
            <tr>
                <th class="bg_primary color_white">ID</th>
                <th class="bg_primary color_white">NAME</th>
                <th class="bg_primary color_white">DOB</th>
                <th class="bg_primary color_white">LOCATION</th>
                <th class="bg_primary color_white">DESIGNATION</th>
                <th class="bg_primary color_white">EMAIL ID</th>
                <th class="bg_primary color_white">GENDER</th>
                <th class="bg_primary color_white">SKILLS</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in employee)
            {
                <tr>
                    <td>@employee.ID</td>
                    <td>@employee.Name</td>
                    <td>@employee.DOB</td>
                    <td>@employee.Location</td>
                    <td>@employee.Designation</td>
                    <td>@employee.Email_Address</td>
                    <td>@employee.Gender</td>
                    <td>@result[employee.ID]</td>
                  @*   <td>
                        <button class="btn btn-primary" @onclick="() => NavigateToEditEmployee(employee.ID)">Edit</button>
                        <button class="btn btn-danger" @onclick="() => NavigateToDelete(employee.ID)">Delete</button>
                    </td> *@
                </tr>
            }
        </tbody>
    </table>
</div>
@* <pre>  </pre>
<div class="d-flex justify-content-center mb-3">
    <button class="btn btn-primary" @onclick="() => NavigateToSoft()">Deleted Records</button>
</div> *@